<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">FakeBet</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Matches</a></li>
        <li *ngIf="localStorageService.isUserLogged()"><a class="nav-item nav-link" routerLink="/user"
                                                          routerLinkActive="active">My profile</a></li>
        <li><a class="nav-item nav-link" routerLink="/highscores" routerLinkActive="active">High scores</a></li>
        <li *ngIf="localStorageService.getUserRole()==0" ngbDropdown class="d-inline-block" #admin="ngbDropdown">
          <a class="nav-item nav-link" id="dropdownBasic1" ngbDropdownToggle>Admin</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item btn-outline-dark nav-item" routerLink="/admin/matches" routerLinkActive="active"
               (click)="admin.close()">Matches</a>
            <a class="dropdown-item btn-outline-dark nav-item" routerLink="/admin/users" routerLinkActive="active"
               (click)="admin.close()">Users</a>
          </div>
        </li>
        <li *ngIf="!localStorageService.isUserLogged()"><a class="nav-item nav-link" routerLink="/signin"
                                                           routerLinkActive="active">Sign in</a></li>
        <li *ngIf="!localStorageService.isUserLogged()"><a class="nav-item nav-link" routerLink="/signup"
                                                           routerLinkActive="active">Sign up</a></li>
        <li *ngIf="localStorageService.isUserLogged()"><a class="nav-item nav-link" routerLink="/logout"
                                                          routerLinkActive="active">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
