<div class="container h-100 vertical-center">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-7 box box-shadow">
      <h2 class="text-center font-weight-light">Change password</h2>
      <hr/>
      <form name="changePasswordForm"
            (ngSubmit)="changePasswordForm.form.valid && newpassword1.value===newpassword2.value && changePassword() "
            #changePasswordForm="ngForm" novalidate>
        <div class="form-group m-4" [ngClass]="{'has-error': changePasswordForm.submitted && !currentpassword.valid}">
          <input id="currentpassword" class="form-control input-shadow" type="password" placeholder="Current password"
                 name="currentpassword" [(ngModel)]="model.currentpassword"
                 [ngClass]="{'is-invalid': changePasswordForm.submitted && !currentpassword.valid}"
                 #currentpassword="ngModel" required>
          <div *ngIf="changePasswordForm.submitted && !currentpassword.valid" class="text-danger">Current password is
            required
          </div>
        </div>

        <div class="form-group m-4"
             [ngClass]="{'has-error': (changePasswordForm.submitted && !newpassword1.valid)}">
          <input id="newpassword1" class="form-control input-shadow" type="password" placeholder="New password"
                 name="newpassword1" [(ngModel)]="model.newpassword1" minlength="8"
                 [ngClass]="{'is-invalid': changePasswordForm.submitted && !newpassword1.valid}"
                 ngbTooltip="Password has to be longer than 8 characters." placement="right"
                 #newpassword1="ngModel" required>
          <div *ngIf="changePasswordForm.submitted && !newpassword1.valid " class="text-danger">This field is invalid
          </div>
          <div *ngIf="newpassword1.value!==newpassword2.value" class="text-danger">Passwords don't match</div>
        </div>
        <div class="form-group m-4"
             [ngClass]="{'has-error': (changePasswordForm.submitted && !newpassword2.valid)}">
          <input id="newpassword2" class="form-control input-shadow" type="password" placeholder="Confirm new password"
                 name="password"
                 [(ngModel)]="model.newpassword2" minlength="8"
                 [ngClass]="{'is-invalid': changePasswordForm.submitted && !newpassword2.valid}"
                 #newpassword2="ngModel"
                 required>
          <div *ngIf="changePasswordForm.submitted && !newpassword2.valid" class="text-danger">This field is invalid
          </div>
          <div *ngIf="newpassword1.value!==newpassword2.value" class="text-danger">Passwords don't match</div>
        </div>
        <div class="form-group m-2 container">
          <button type="submit" [disabled]="processing" class="btn btn-primary">Change password</button>
          <img *ngIf="processing"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <a [routerLink]="['/user']" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
