<div class="container">
  <img src="assets/images/loading-block.gif" *ngIf="loading" class="text-center mx-auto d-block">
  <div *ngFor="let match of matches" class="m-3">
    <ngb-accordion *ngIf="!loading" class="box-shadow">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="row">
            <div class="col text-right">
              <span class="flag-icon " ngClass=flag-icon-{{match.teamANationalityCode.toLowerCase()}}></span>
              <h2 class="d-inline-block">{{match.teamAName}}</h2>
            </div>
            <div class="col-1 text-center">
              <h2 class="font-weight-light"> vs.</h2>
            </div>
            <div class="col text-left align-middle">
              <h2 class="d-inline-block">{{match.teamBName}}</h2>
              <span class="flag-icon" ngClass=flag-icon-{{match.teamBNationalityCode.toLowerCase()}}></span>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row mt-2">
            <div class="col">
              <h2 class="font-weight-light text-right">{{match.teamAPoints}}</h2>
            </div>
            <div class="col-2">
              <h4 class="font-weight-light text-center">points</h4>
            </div>
            <div class="col">
              <h2 class="font-weight-light text-left">{{match.teamBPoints}}</h2>
            </div>
          </div>
          <div>
            <h4 class="text-center font-weight-light">{{match.matchTime | date : "dd.MM.yyyy HH:mm"}}</h4>
          </div>
          <div class="row mt-3">
            <div class=" container-fluid text-center form-group">
              <form class="form-inline justify-content-center">
                <input #pointsOnA [disabled]="pointsOnB.value>0" type="number" class="form-control"
                       placeholder="Points" aria-describedby="teamA" min="0" oninput="validity.valid||(value='');"
                       (input)="(value)||(pointsOnB.disabled = true)">
                <button class="btn btn-secondary m-3" (click)="placeBet(match.matchId, pointsOnA, pointsOnB)">
                  Make a bet!
                </button>
                <input #pointsOnB [disabled]="pointsOnA.value>0" type="number" class="form-control" placeholder="Points"
                       aria-describedby="teamB" min="0" oninput="(validity.valid||(value=''));"
                       (input)="(value)||(pointsOnA.disabled = true)">
              </form>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
