<div class="container h-100 vertical-center">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 box box-shadow">
      <div class="row">
        <div class="col-4">
          <img class="m-3 img-fluid rounded" [src]="avatarUrl">
        </div>
        <div class="col-6">
          <div class="m-3">
            <h2 class="font-weight-bold d-inline">{{user.nickName}}</h2>
            <small class="font-weight-light d-inline">{{user.createTime}}</small>
            <h3 class="font-weight-light">{{user.points}}</h3>
          </div>
        </div>
        <div class="col-2">
          <div ngbDropdown class="d-block">
            <button class="btn btn-outline-dark m-3" id="dropdownBasic1" ngbDropdownToggle>Settings</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)=navigateToChangeEmail() class="dropdown-item">Change e-mail</button>
              <button (click)="navigateToChangePassword()" class="dropdown-item">Change password</button>
              <button (click)=navigateToChangeDeleteAccount() class="dropdown-item text-danger">Delete account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
