<div class="container h-100 vertical-center">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-7 box box-shadow">
      <h2 class="text-center font-weight-light">Delete Account</h2>
      <hr/>
      <form name="deleteAccountForm" (ngSubmit)="deleteAccountForm.form.valid && deleteAccount()"
            #deleteAccountForm="ngForm" novalidate>
        <div class="form-group m-4" [ngClass]="{'has-error': deleteAccountForm.submitted && !password.valid}">
          <input id="password" class="form-control input-shadow" type="password" placeholder="Password"
                 name="password" [(ngModel)]="model.password"
                 [ngClass]="{'is-invalid': deleteAccountForm.submitted && !password.valid}"
                 #password="ngModel" required>
          <div *ngIf="deleteAccountForm.submitted && !password.valid" class="text-danger">This field is required
          </div>
        </div>
        <div class="form-group m-4" [ngClass]="{'has-error': deleteAccountForm.submitted && !confirmPassword.valid}">
          <input id="confirmPassword" class="form-control input-shadow" type="password" placeholder="Confirm password"
                 name="confirmPassword"
                 [(ngModel)]="model.confirmPassword"
                 [ngClass]="{'is-invalid': deleteAccountForm.submitted && !confirmPassword.valid}"
                 #confirmPassword="ngModel"
                 required>
          <div *ngIf="deleteAccountForm.submitted && !confirmPassword.valid" class="text-danger">This field is required
          </div>
        </div>
        <div class="form-group m-2 container">
          <button type="submit" [disabled]="processing" class="btn btn-danger">DELETE ACCOUNT</button>
          <img *ngIf="processing"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <a [routerLink]="['/user']" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
<app-alert></app-alert>
